.page-header {
    color: #F2A81D;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}

.page-header h2 {
    font-size: 35px;
}

body {
    font-family: "Apple SD Gothic Neo", serif;
    padding: 0 12px;
    margin: 0;
    background: #0367A6;
}

.buns
{
display: inline;
margin: 0;
padding: 20px 20px;
}

.bunny_imgs {
    background-color: #F2A81D;
    display: -ms-inline-flexbox;
    justify-content: center;
    margin: 100px auto 80px auto;
    padding: 60px;
    position: static;
    height: auto;
    width: fit-content;
    max-width: max-content;
    overflow-y: auto;
    overflow-x: hidden;
}

#attitude {
    height: 340px;
    width: 500px;
}
.sounders {
    height: 100px;
    padding: 10px 20px;
}

#secret-image-div {
    display: inline-flex;
    /*justify-content: space-around;*/
    justify-content: center;
    align-items: center;
}

#secret-image-text {
    display: flex;
    flex-grow: 1;
    padding: 2px;
}

 #secret-image {
     /*display: flex;*/
     padding-top: 10px;
     height: 400px;
     width: 500px;
     box-shadow: 25px 25px 15px black;
 }

 #secret-button {
     align-items: center;
     margin: auto;
     border-radius: 4px;
     color: white;
     display: inline-flex;
     background-color: #038C25;
     height: 44px;
     width: 300px;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
     font-size: medium;
     position: relative;
     text-align: center;
 }

.wb_serious {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    position: static;
}

.wb-caption {
    font-size: x-large;
    justify-content: center;
    text-align: center;
}

#say-something {
    text-align: center;
}

.zacky {
    border: 2px solid #fff;
    box-shadow: 10px 10px 5px darkslateblue;
    -moz-box-shadow: 10px 10px 5px darkslateblue;
    -webkit-box-shadow: 10px 10px 5px darkslateblue;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: static;
}
#zack-caption {
    font-size: xx-large;
    text-align: center;
    text-shadow: 0 2px 2px #FF0000,
    -2px 5px 0 #ff7f00,
    -4px 10px 0 #ffff00,
    -8px 15px 0 #00ff00,
    -12px 20px 0 #0000ff,
    -16px 25px 0 #4b0082,
    -20px 30px 0 #9400d3;
}

.wb-caption {
    font-size: x-large;
    justify-content: center;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.col-one {
    grid-column: 1;
}

.col-two {
    grid-column: 2;
}

.poochie:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.poochieCaption {
    /*animation-duration: 4s;*/
    /*animation-name: slidein;*/
    /*animation-iteration-count: infinite;*/
    padding-left: 100px;
    font-size: x-large;
    justify-content: left;
    text-align: left;
    color: #F26B1D;
    font-family: "Apple SD Gothic Neo", serif;
}


.rayray {
    color: red;
    animation: 8s ease-in 0s infinite both running slidein;
    width: 3000px;
    display: flex;

}


@keyframes slidein {
    from {
        margin-left: 100%;
        width: 400px;
    }

    to {
        margin-left: 0%;
        width: 400px;
    }

}
