.page-header {
    color: darkslateblue;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}

.page-header h2 {
    font-size: 35px;
}

body {
    font-family: "Apple SD Gothic Neo", serif;
    padding: 0 12px;
    margin: 0;
    background: #F5F8FA;
}

.buns
{
display: inline;
margin: 0;
padding: 20px 20px;
}

.bunny_imgs {
    display: block;
    justify-content: center;
    margin: 50px auto 50px auto;
    padding: 50px;
    position: relative;
    height: auto;
    width: fit-content;
    max-width: max-content;
    overflow-y: hidden;
    overflow-x: auto;
}

#attitude {
    height: 340px;
    width: 500px;
}
.sounders {
    height: 100px;
    padding: 10px 20px;
}

.cool_cat {
    alignment: left;
    /*background-color: darkslateblue;*/
    background-size: cover;
    border-radius: 5px;
    border: 3px solid black;
    height: 300px;
    margin-top: 50px;
    padding: 10px;
    position: -webkit-sticky;
    width: 350px;

}
 #secret-image {
     display: inline-flex;
     height: 300px;
     width: 400px;
 }

 #secret-button {
     align-items: center;
     border-radius: 4px;
     color: white;
     display: inline-flex;
     background-color: dodgerblue;
     height: 44px;
     width: 300px;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
     font-size: medium;
     position: relative;
     text-align: center;
 }

.wb_serious {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    position: static;
}

.wb-caption {
    font-size: x-large;
    justify-content: center;
    text-align: center;
}

#say-something {
    text-align: center;
}

.zacky {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: static;
}
#zack-caption {
    text-align: center;
}

.wb-caption {
    font-size: x-large;
    justify-content: center;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.col-one {
    grid-column: 1;
}

.col-two {
    grid-column: 2;
}