.page-header {
    color: darkslateblue;
    font-family: Calibri;
    font-size: 40px;
    text-align: center;
}

.page-header h2 {
    font-size: 35px;
}

body {
    font-family: "Apple SD Gothic Neo";
  padding: 0 12px;
  margin: 0;
  background: #F7F7F7;
}

.buns
{
display: inline;
margin: 0px;
padding: 10px 10px;
}

#bunny_imgs
{
display: block;
margin: 0px;
padding: 10px 10px;
position: relative;
top: 90px;
height:auto;
max-width: auto;
overflow-y: hidden;
overflow-x:auto;
}

.sounders {
    height: 100px;
    padding: 10px 20px;
}

.sleepy_cat {
    background-image: url('images/sleepy_cat.jpeg');
    background-size: cover;
    height: 300px;
    padding: 30px;
    position: -webkit-sticky;
    width: 400px;

}

.sleepy_caption {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 60px;
  position: relative;
  top: 80%;
  width: 60%;
  /*background-color: ;*/
  color: black;
}