


body {
    font-family: "Apple SD Gothic Neo", serif;
    padding: 0 12px;
    margin: 0;
    /*background: #0367A6;*/
    background: black;
    /*background-image: url('resources/images/rideshare_feature.jpg');*/
}
